{% extends "base.html.twig" %}

{% block title %}
	Mes commandes
{% endblock %}

{% block body %}
	<h1>Mes commandes</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Adresse</th>
				<th>Date de Commande</th>
				<th>Produits</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for p in purchases %}
				<tr>
					<td>{{ p.id }}</td>
					<td>{{ p.address }}<br>{{ p.postalCode }},
						{{ p.city }}</td>
					<td>{{ p.purchasedAt|date('d/m/Y H:i') }}</td>
					<td>
						<ul>
							{% set total = 0 %}
							{# Initialisation de la variable total #}

							{% for item in p.purchaseItems %}
								<li>{{ item.quantity }}
									*
									{{ item.productName }}
									({{ item.total / 100 }}
									€)</li>
								{% set total = total + item.total %}
								{# Ajout du total de chaque produit #}
							{% endfor %}
						</ul>
					</td>
					<td>{{ total / 100 }}
						€
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</thead>
</table>{% endblock %}
